if SHIELD_SWEEP34_LEFT

config ZMK_KEYBOARD_NAME
	default "Sweep34"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_SWEEP34_LEFT || SHIELD_SWEEP34_RIGHT

config ZMK_SPLIT
	default y

endif